body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 100%;
  background: white;
  padding: 20px;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: none;
}

h1, h2 {
  color: #333;
  margin-bottom: 15px;
}

.menu-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  width: 250px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button.edit {
  background-color: #ffc107;
  color: white;
}

button.delete {
  background-color: #dc3545;
  color: white;
}

button.register {
  background-color: #007bff;
  color: white;
}

button.save {
  background-color: #28a745;
  color: white;
}

button.cancel {
  background-color: #dc3545;
  color: white;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 999;
}

.top-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.pdv-top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 999;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.cadastro-container {
  max-width: 500px;
  background: white;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.relatorio-filtros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  max-width: 1200px;
  margin: 0 auto 20px;
  text-align: left;
}

.relatorio-filtros label {
  font-weight: bold;
  margin-bottom: 5px;
}

.relatorio-filtros input, .relatorio-filtros select {
  width: 100%;
  margin-bottom: 10px;
}